{% extends 'base.html.twig' %}

{% block title %}Ajouter Produits{% endblock %}

{% block body %}
    <div class="container box">
        <h1 class="title is-1 is-info">Ajouter un produit</h1>

        {{ include('produits/_form.html.twig') }}

        <a class="button is-info mt-3" href="{{ path('app_produits_index') }}">ANNULER</a>
    </div>

{% endblock %}
